@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #37C6CA;
}

@plugin "daisyui/theme" {
  name: "dark";
    --color-primary: #37C6CA;
}

